
@charset "UTF-8";

* {
  font-family: poppinsLight;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/*====Configuracao de font-family externos====*/
/*============================================*/
@font-face {
  font-family: poppinsLight;
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: poppinsBold;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

/*====Definindo as root====*/
/*=========================*/
:root
{
  --color-text-normal: #333;
  --color-text-normal-light: #aaa;
  --color-text-sec-vol: #191930;
  --none-color-background: transparent;
}

:root
{
  --border-radius-pixels: 1000px;
}

body
{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
}

/*====Definindo Globais semelhantes====*/
/*=====================================*/
header, .content-form-btn, .menu-btn-reg-inits-cht, .session-register, .room-outdour, .search-field
{
  display: flex;
  align-items: center;
}

/*====Configurando estilos do header=====*/
/*=======================================*/
header
{
  background-color: rgb(255, 238, 228);
  width: 100%;
  height: 15vh;
  padding: 10px 50px;
}

.logo-lemo
{
  width: 20%;
}

.logo-lemo a.logo-item img
{
  width: 200px;
}

.menu-btn-reg-inits-cht
{
  width: 70%;
}


.content-form-btn
{
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.btn-registrar
{
  margin-left: 70px;
}

.link-btn-menu
{
  color: var(--color-text-normal);
  font-size: 1rem;
  font-family: poppinsBold;
  letter-spacing: 2px;
}


/*====Configurando estilos do main=====*/
/*=====================================*/

/*====Configurando estilos do div(outdour)=====*/
/*=============================================*/
.room-outdour
{
  height: 70vh;
  width: 100%;
  padding: 20px 50px;
  position: relative;
  overflow: hidden;
}

.question-block-cmp
{
  width: 50%;
}

.text-tlt-quest
{
  color: var(--color-text-normal);
  font-size: 3rem;
}

.form-question-main
{
  width: max-content;
  margin-top: 20px;

}

.text-tlt-form-quest
{
  color: var(--color-text-sec-vol);
}

.search-field
{
  background-color: var(--color-text-sec-vol);
  border: 2px solid var(--color-text-sec-vol);
  border-radius: var(--border-radius-pixels);
  /* padding: 10px; */
  margin-top: 10px;
  overflow: hidden;
  width: 350px;
  justify-content: space-between;
}

.search-field input[type="text"]
{
  font-size: 0.9rem;
  border-radius: 100px 0px 0px 100px;
  padding: 9px 5px 9px 15px;
  width: 80%;
}

.search-field button[type="submit"]
{
  background-color: var(--none-color-background);
  cursor: pointer;
  border-radius: 0px 100px 100px 0px;
  padding: 9px 10px 9px 5px;
  width: 20%;
  height: 100%;
  position: relative;
}

.icon-fin
{
  color: var(--color-text-normal-light);
  font-size: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 135%;
  right: 0;
}

.window-logo-left img
{
  width: 70%;
}