
@charset "UTF-8";

* {
  font-family: poppinsLight;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/*====Configuracao de font-family externos====*/
/*============================================*/
@font-face {
  font-family: poppinsLight;
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: poppinsBold;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

/*====Definindo as root====*/
/*=========================*/
:root
{
  --color-text-normal: #333;
  --color-text-normal-light: #aaa;
  --color-text-sec-vol: #191930;
  --none-color-background: transparent;
}

:root
{
  --border-radius-pixels: 1000px;
}

body
{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
}

main
{
  background-image: linear-gradient(#ececec, #333340);
}

/*====Definindo Globais semelhantes====*/
/*=====================================*/
header, 
.content-form-btn, 
.menu-btn-reg-inits-cht, 
.session-register, 
.room-outdour, 
.search-field,
.mt-fl,
.mini-info
{
  display: flex;
  align-items: center;
}

/*====Configurando estilos do header=====*/
/*=======================================*/
header
{
  background-color: rgb(255, 238, 228);
  width: 100%;
  height: 15vh;
  padding: 10px 50px;
}

.logo-lemo
{
  width: 20%;
}

.logo-lemo a.logo-item img
{
  width: 200px;
}

.menu-btn-reg-inits-cht
{
  width: 70%;
}


.content-form-btn
{
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.btn-registrar
{
  margin-left: 70px;
}

.link-btn-menu
{
  color: var(--color-text-normal);
  font-size: 1rem;
  font-family: poppinsBold;
  letter-spacing: 2px;
}


/*====Configurando estilos do main=====*/
/*=====================================*/

/*====Configurando estilos do div(outdour)=====*/
/*=============================================*/
.room-outdour
{
  height: 70vh;
  width: 100%;
  padding: 20px 50px;
  position: relative;
  overflow: hidden;
}

.question-block-cmp
{
  width: 50%;
}

.text-tlt-quest
{
  color: var(--color-text-normal);
  font-size: 3rem;
}

.form-question-main
{
  width: max-content;
  margin-top: 20px;

}

.text-tlt-form-quest
{
  color: var(--color-text-sec-vol);
}

.search-field
{
  background-color: var(--color-text-sec-vol);
  border: 2px solid var(--color-text-sec-vol);
  border-radius: var(--border-radius-pixels);
  /* padding: 10px; */
  margin-top: 10px;
  overflow: hidden;
  width: 350px;
  justify-content: space-between;
}

.search-field input[type="text"]
{
  font-size: 0.9rem;
  border-radius: 100px 0px 0px 100px;
  padding: 9px 5px 9px 15px;
  width: 80%;
}

.search-field button[type="submit"]
{
  background-color: var(--none-color-background);
  cursor: pointer;
  border-radius: 0px 100px 100px 0px;
  padding: 9px 10px 9px 5px;
  width: 20%;
  height: 100%;
  position: relative;
}

.icon-fin
{
  color: var(--color-text-normal-light);
  font-size: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 135%;
  right: 0;
}

.window-logo-left img
{
  width: 70%;
}


/*====Configurando estilos do div(materias)=====*/
/*==============================================*/
.ec-mn-fl
{
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.mt-fl
{
  border: 1px solid;
  border-radius: 20px;
  justify-content: space-between;
  width: 70%;
  height: 340px;
  margin: 0px auto;
  margin-top: 100px;
  overflow: hidden;
}

.mt-fl h1
{
  text-align: center;
  font-family: poppinsBold;
  font-size: 4rem;
  width: 50%;
}

.html-field
{
  border-color: blue;
}

.css-field
{
  border-color: orangered;
}

.mt-fl h1.html-tlt-mt
{
  color: blue;
}

.min-menu-html
{
  background-color: #2424e1;
  color: #e3d9d9;
}

.mt-fl h1.css-tlt-mt
{
  color: orangered;
}

.min-menu-css
{
  background-color: orangered;
  color: #e3d9d9;
}

.mn-mu-ht
{
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  height: 100%;
  padding: 30px;
}

.inf-tlt
{
  font-size: 1.3rem;
  font-family: poppinsLight;
  text-transform: uppercase;
  padding: 10px 0px;
  letter-spacing: 2px;
}

.mini-info
{
  justify-content: space-between;
}

.col-inf
{

  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-top: 5px;
}

.col-btn-inf a
{
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #fff;
  border: 1px solid;
  border-radius: var(--border-radius-pixels);
  padding: 7px 25px;
  margin-right: 50px;
}

.btn-inf-html a
{
  border-color: orangered;
}
.btn-inf-html a:hover
{
  border: none;
  background-color: orangered;
}

.btn-inf-css a
{
  border-color: blue;
}
.btn-inf-css a:hover
{
  border: none;
  background-color: #2424e1;
}

/*
==================================
==================================
====Class de bottoes materias
*/
.rm-opn
{
  background-image: linear-gradient(#fd6731, #5252fe);
  width: 100%;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rm-opn
{
  border-radius: 0px 50px 50px 0px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.col-rm
{
  width: 50%;
  padding: 50px;
}

.tlt-rm-2
{
  font-size: 2rem;
  color: #444;
  letter-spacing: 2px;
}
.tlt-sm-rm
{
  color: #eeee;
  margin: 10px 0px;
  letter-spacing: 2px;
  font-weight: 100;
}

.add-col-lk
{
  display: flex;
  flex-wrap: wrap;
}

.itm-col-lk
{
  color: #fff;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: var(--border-radius-pixels);
  padding: 10px 50px;
  width: max-content;
  margin: 10px;
}

.ser-rm
{
  border: 1px solid blue;
  border-radius: var(--border-radius-pixels);
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;
}

.ser-rm input[type="search"]
{
  display: inline;
  height: 100%;
  width: 250px;
}

.ser-rm input[type="submit"]
{
  display: inline;
  cursor: pointer;
}

.ser-rm input[type="search"],
.ser-rm input[type="submit"]
{
  padding: 10px 20px;
}

.tub
{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animeBack 3s infinite;
}

@keyframes animeBack {
}


/*
=============================
=============================
====Rodape
*/
.rd-fn .abb-cl-itm
{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-ft-en
{
  background-color: red;
  width: 400px;
  height: 400px;
  margin: 20px;
}